requests==2.28.2
pydantic==1.10.5
pydantic-xml==0.6.0
uvicorn==0.20.0
fastapi==0.92.0
SQLAlchemy==1.4.45
envparse==0.2.0
asyncpg==0.27.0
greenlet==2.0.2
alembic==1.9.0
psycopg2-binary==2.9.5
pre-commit==2.21.0
